* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  background-color: mistyrose;
}

#root {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.video-wrapper {
  video {
    width: auto;
  }
}

.video-wrapper,
.canvas-wrapper {
  display: flex;
  justify-content: space-around;
  transition: all 0.3s;
  will-change: transform;
  // width: fit-content;
  width: 480px;
  height: fit-content;
  flex-direction: column;
  border: 2px solid #998;

  video, canvas {
    width: 100%;
  }

  .tip {
    color: #111;
    text-align: center;
    margin-top: 12px;
  }
}
