* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  background-color: #000;
}

#root {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.video-wrapper {
  video {
    width: auto;
  }
}

.video-wrapper,
.canvas-wrapper {
  display: flex;
  justify-content: space-around;
  transition: all 0.3s;
  will-change: transform;
  // width: fit-content;
  width: 480px;
  height: fit-content;
  flex-direction: column;
  border: 2px solid #998;

  video, canvas {
    width: 100%;
  }

  .tip {
    color: #fff;
    text-align: center;
    margin-top: 12px;
  }
}

.btn {
  padding: 4px 8px;
  position: absolute;
  top: 20px;
  left: 20px;
  border-radius: 4px;
}

.composite {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  // background-image: url(./assets/bg_test1.jpg);
}


// 蔡徐坤武汉大学跳舞演示
.composite1 {
  // background-image: url(./assets/bg_test.jpg);
  background-size: 100% 84%;
  background-repeat: no-repeat;

  canvas {
    transform: translateY(60px) scale(0.5);
  }
}
